.main-chat
  .main-chat__top
    .main-chat__top__left
      .main-chat__top__left__gname
        = @group.name   
      %ul.member
        Member:
        %li.name
          - if @group.users
            - @group.users.each do |u|
              = u.name
    = link_to edit_group_path(current_user) do
      .main-chat__top__edit-btn Edit
  .main-chat__center 
    = render @messages
  .main-chat__bottom
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit-btn'