.side-bar
 .side-bar__top
  .side-bar__top__name-space
   %p.name-space__left 
    = current_user.name
   %ul.name-space__right 
    %li.new-btn
     =link_to "#", class: "new__btn" do
      = icon('far','edit')
    %li.edit-btn
     = link_to edit_user_path(current_user) do
      = icon('fas', 'cog', class: 'icon')
      
 .side-bar__bottom
  = link_to "#",class:"group" do
   %p.group__name-space
    test
   %p.group__message-space
    メッセージがまだありません。